## To jest plik konfiguracyjny maszyny wirtualnej
Typ = {{ aplikacja }}
Bazy Danych = {{ serweryDB}}
Typ Bazy = {{ DB_Engine }}
Procesor = {{ CPU }}
Available Memory = {{ Memory }}
Przestrzeń Dyskowa = {{ Dyski }}
IP Serwer = {{ Adress_IP }}
Enable = Yes